@CHARSET "ISO-8859-1";
@CHARSET "ISO-8859-1";
body
{
	margin:0;
	padding:0;
	background: url("../Images/bg.jpg");
	background-size: cover;
	font-family:sans-serif;
}
.loginbox{
	width:400px;
	height:750px;
	background-color:rgba(0,0,0,0.8);
	color:#fff;
	left:50%;
	top:50%;
	position:absolute;
	transform:translate(-50%,-35%);
	box-sizing:border-box;
	padding:15px 30px;
	border:1px solid #fff;
}

h1{
	margin:0;
	text-align:center;
	padding:25px 0 10px;
	font-size: 22px;
	font-family:Lucida Calligraphy;
}
#line{
	margin:0;
	text-align:center;
	padding:0px 0 10px;
	font-size: 12px;
	color:red;
}
.formbox{
	width:100%;
}
.formbox p{
	margin:20px 0 0 0;
	padding:0;
	font-weight:solid;
}
.formbox input{
	width:100%;
	margin-bootom:20px;
}
.formbox input[type="text"], .formbox input[type="password"]{
	border:0;
	border-bottom:1px solid #fff;
	 background: transparent;
	 outline: none;
	 height:40px;
	 color:#fff;
	 font-size: 15px;
}
.formbox input[type="text"]:focus, .formbox input[type="password"]:focus{
	border-bottom-color:#f00;
}
.formbox input[type="submit"]{
	border:0;
	outline:0;
	background:#00B6FF;
	height:40px;
	font-size:18px;
	color:#fff; 
	margin-top:20px;
}
.formbox input[type="reset"]{
	border:0;
	outline:0;
	background:#f00;
	height:40px;
	font-size:18px;
	color:#fff; 
	margin-top:20px;
}
.formbox input[type="submit"]:hover, .formbox input[type="reset"]:hover{
	cursor:pointer;
	background:#fff;
	color:#000;
}
.formbox a{
	text-decoration:none;
	font-size:14px;
	line-height:30px;
	color:darkgrey;
	width:100%;
	
}
.formbox a:hover{
	color:#f00;
}